h1{
    text-align: center;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    color: white;
    font-size: 300%;
}

table{
    border-style: solid;
    border-width: 20px;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    background:lightblue;
}
td{
    border-style: solid;
    border-width: thick;
    border-color: black;
    text-align: center;
    text-justify: auto;
    cursor: pointer;
    background:lightblue;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    user-select: none;
    width: 200px;
    height: 100px;
}
th{
    text-align: center;
    border-width: 20px;
    color:#ff4b1f;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.bingo{
    text-decoration: line-through;
    text-decoration-color: black;
}
body {
    background-color: #b82a2a;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2306020d' fill-opacity='1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");   
}
